@font-face {
	font-family: 'm_brody';
	src: url('../fonts/m_brody.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT-sans';
    src: url('../fonts/PT-sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT-sans';
    src: url('../fonts/PT-sans-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'MYRIADPRO';
    src: url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MYRIADPRO';
    src: url('../fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'MYRIADPRO';
    src: url('../fonts/MYRIADPRO-BOLD.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}